<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#EC407A">
    <title>Opinionated</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="manifest" href="/manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Damion&text=Opinoated" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div id="app">
    <noscript>This app requires JavaScript to run</noscript>
      <!-- TODO: Make the page transition better -->
      <transition name="dialog-fade" mode="in-out">
        <router-view></router-view>
      </transition>
    </div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
